<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NavigationResolver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <NavigationResolver.Properties.Settings>
            <setting name="MapOfStationsUrl" serializeAs="String">
                <value>https://nextbike.net/maps/nextbike-official.xml</value>
            </setting>
            <setting name="WarsawId" serializeAs="String">
                <value>210</value>
            </setting>
            <setting name="RouteService" serializeAs="String">
                <value>http://www.yournavigation.org/api/1.0/gosmore.php?{0}</value>
            </setting>
        </NavigationResolver.Properties.Settings>
    </applicationSettings>
</configuration>