<script src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false" ></script>
<script src="http://www.openlayers.org/api/OpenLayers.js"></script>
<script src="http://www.openstreetmap.org/openlayers/OpenStreetMap.js"></script>
<script src="~/Scripts/AngularModels/FormModule.js"></script>
<script src="~/Scripts/AngularModels/FormController.js"></script>


<div ng-app="FormApp">
    <div ng-controller="FormController" layout="column">
        @* Here is left panel with form for user*@
        <div layout="row" layout-xs="column">
            <md-card flex="25" layout="column" layout-xs flex-xs="100">
                <md-content class="md-no-momentum" flex layout="column" layout-margin>
                    <div class="FlexContainer layout-column">
                        <div class="FlexItem layout-row" layout="row" flex="100" layout-align="center">
                            <div>
                                <md-switch class="md-primary" style="min-width: 190px" ng-change="onUseMyLocationChange()"
                                           aria-label="Use my location" ng-model="navigation.useMyLocation">
                                    Use my location
                                </md-switch>
                            </div>
                        </div>
                        <div flex layout="row">
                            <div>
                                <img src="~/Resources/start.png">
                            </div>
                            <div flex>
                                <md-input-container class="md-icon-float md-block">
                                    <label>Start location</label>
                                    <input ng-model="navigation.start" googleplace placeholder="Enter start location" type="text">
                                </md-input-container>
                            </div>
                        </div>
                        <div layout="row">
                            <div>
                                <img src="~/Resources/stop.png">
                            </div>
                            <div flex>
                                <md-input-container class="md-icon-float md-block">
                                    <label>Destination</label>
                                    <input ng-model="navigation.destination" placeholder="Enter destination" googleplace type="text">
                                </md-input-container>
                            </div>
                        </div>
                        <div class="FlexItem" layout="row" layout-align="center">
                            <div>
                                <md-button class="md-raised md-primary">Search</md-button>
                            </div>
                        </div>
                    </div>
                </md-content>
            </md-card>
            @* Here is right panel with map*@
            <md-card flex>
                <center>
                    <h2>Warsaw</h2>
                </center>
                <md-card-content>
                    <div id="map_canvas" style="height: 600px"></div>
                </md-card-content>
            </md-card>
        </div>
    </div>
</div>
