<script src="http://www.openlayers.org/api/OpenLayers.js"></script>
<script src="http://www.openstreetmap.org/openlayers/OpenStreetMap.js"></script>

<div ng-app="FormApp">
    <div ng-controller="FormController" layout="column">
        @* Here is left panel with form for user*@
        <div layout="row">
            <md-card flex layout="column" layout-xs flex-xs="100">
                <md-content class="md-no-momentum" flex layout="column" layout-margin>
                    <div class="FlexContainer layout-column">
                        <div class="FlexItem layout-row" layout="row" flex="100" layout-align="center">
                            <div>
                                <md-switch class="md-primary" style="min-width: 190px" ng-change="onUseMyLocationChange()"
                                           aria-label="Use my location" ng-model="navigation.useMyLocation">
                                    Use my location
                                </md-switch>
                            </div>
                        </div>
                        <div class="FlexItem layout-row" layout="row">
                            <div flex layout="row">
                                <div>
                                    <img src="~/Resources/start.png">
                                </div>
                                <div flex>
                                    <md-autocomplete md-floating-label="Start location"
                                                     md-item-text="item.display_name"
                                                     md-items="item in navigation.autocompleteData(navigation.startSearchText)"
                                                     md-search-text="navigation.startSearchText"
                                                     md-selected-item="navigation.selectedStartItem"
                                                     md-input-name="autocompleteField"
                                                     md-no-cache="true"
                                                     required="true">
                                        <md-item-template>
                                            <span md-highlight-text="navigation.startSearchText">{{item.display_name}}</span>
                                        </md-item-template>
                                        <div ng-messages="searchForm.autocompleteField.$error" ng-if="searchForm.autocompleteField.$touched">
                                            <div ng-message="required">You <b>must</b> have a favorite movie.</div>
                                            <div ng-message="minlength">Your entry is not long enough.</div>
                                            <div ng-message="maxlength">Your entry is too long.</div>
                                        </div>
                                    </md-autocomplete>
                                </div>
                            </div>
                            <div flex layout="row">
                                <div>
                                    <img src="~/Resources/stop.png">
                                </div>
                                <div flex>
                                    <md-autocomplete md-floating-label="Destination"
                                                     md-item-text="item.display_name"
                                                     md-items="item in navigation.autocompleteData(navigation.destinationSearchText)"
                                                     md-search-text="navigation.destinationSearchText"
                                                     md-selected-item="navigation.selectedDestinationItem"
                                                     md-input-name="autocompleteField"
                                                     md-no-cache="true"
                                                     required="true">
                                        <md-item-template>
                                            <span md-highlight-text="navigation.destinationSearchText">{{item.display_name}}</span>
                                        </md-item-template>
                                        <div ng-messages="searchForm.autocompleteField.$error" ng-if="searchForm.autocompleteField.$touched">
                                            <div ng-message="required">You <b>must</b> have a favorite movie.</div>
                                            <div ng-message="minlength">Your entry is not long enough.</div>
                                            <div ng-message="maxlength">Your entry is too long.</div>
                                        </div>
                                    </md-autocomplete>
                                </div>
                            </div>
                        </div>
                        <div class="FlexItem" layout="row" layout-align="center" ng-click="onSearchClickAction()">
                            <div>
                                <md-button class="md-raised md-primary">Search</md-button>
                            </div>
                        </div>
                    </div>
                </md-content>
            </md-card>
        </div>
        <div layout="row">
            @* Here is right panel with map*@
            <md-card flex>
                <center>
                    <h2>Warsaw</h2>
                </center>
                <md-card-content>
                    <div id="map_canvas" style="height: 600px"></div>
                </md-card-content>
            </md-card>
        </div>
    </div>
</div>
