<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LocalConncetionBaseBuilder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <LocalConncetionBaseBuilder.Properties.Settings>
            <setting name="RouteService" serializeAs="String">
                <value>http://www.yournavigation.org/api/1.0/gosmore.php?{0}</value>
            </setting>
        </LocalConncetionBaseBuilder.Properties.Settings>
    </userSettings>
</configuration>